---
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../constants'
import Header from '../components/Header/Header'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      li {
        list-style-type: none;
        margin: 0;
      }

      p {
        margin-block: 1rem;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <h1>Engineering Exploration</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </p>
      <h3>สมาชิก</h3>
      <ul>
        <li>ภูบดินทร์ พูลหน่าย 66070501040</li>
        <li>ธรรมภณ แฉ่งพาที 66070501076</li>
        <li>ณัฐชนน ศรีศิริ 66070501016</li>
        <li>ธิติ ติยะชัยพานิช 66070501026</li>
      </ul>
    </main>
  </body>
</html>
