.footer {
    margin-top: 5rem;
    padding: 5px 0;
    text-align: center;
    font-weight: normal;
    background-color: #181818;
    border-radius: 10px 10px 0 0;

    a {
        text-decoration: none;
        color: #FA4616;
    }
}